<div class="page-header edit-view">
    <h4>Headings</h4>
</div>
<div class="row edit-view">
    <div class="col-md-6">
        <label>@headings-font-family</label>
        <input type="text" class="form-control" placeholder="@font-family-base" data-var="@headings-font-family" id="headings-font-family" />
        <p class="help-block">Choose a separate font-family for headings.</p>
        <label>@headings-font-weight</label>
        <input type="text" class="form-control" placeholder="500" data-var="@headings-font-weight" id="headings-font-weight" />
        <p class="help-block">Choose a separate font-weight for headings.</p>
    </div>
    <div class="col-md-6">
        <label>@headings-line-height</label>
        <input type="text" class="form-control" placeholder="1.1" data-var="@headings-line-height" id="headings-line-height" />
        <p class="help-block">Choose a separate line-height for headings.</p>
    </div>
</div>