<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js" xmlns:ng="http://angularjs.org" id="ng-app">
<!--<![endif]-->

<head>

    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.inc.html %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <!-- Place anything custom after this. -->
<script>
window.loadtime = new  Date();
</script>
</head>

<body>
    <!--[if lt IE 7]>
                <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div id="loading" style="background-color:black;opacity:0.5;top:0px;left:0px;position:fixed;width:100%;height:100%;text-align:center;z-index:6000">
        <div id="spinner" style="color:white;position:absolute;top:50%;left:50%;width:200px:height:200px;margin: -100px 0 0 -100px;">
        	<h3>Loading ....</h3>
        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-top theme-edit" style="z-index:5500">
        <div id="bs-customizer-header" class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar">
                    </span>
                    <span class="icon-bar">
                    </span>
                    <span class="icon-bar">
                    </span>
                </button>
                <a class="navbar-brand brand" href="index.html" onclick="logEvent(['_trackEvent', 'Customizer actions', 'goto', this.href]);">
                    <span class="label label-primary">B</span>
                    <span class="label label-success">C</span>
                    <span class="label label-danger">C {{ site.version }}</span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li style="padding:9px;" >

                        <button style="padding:6px;" type="button" href="#" class="btn btn-default" id="btn-compile" onclick="logEvent(['_trackEvent', 'Customizer actions', 'compile']);">
                            <i class="icon-fixed-width icon-gears"></i>Compile CSS</button>
                        <button style="padding:6px;" type="button" href="#" class="edit-view btn btn-default" id="btn-preview" onclick="logEvent(['_trackEvent', 'Customizer actions', 'preview/edit']);">
                            <i class="icon-fixed-width icon-eye-open"></i>Preview CSS</button>

                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Components
                            <b class="caret">
                            </b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#variables-basics">Basics</a>
                            </li>
                            <li>
                                <a href="#variables-buttons">Buttons</a>
                            </li>
                            <li>
                                <a href="#variables-form-states">Form states</a>
                            </li>
                            <li>
                                <a href="#variables-alerts">Alerts</a>
                            </li>
                            <li>
                                <a href="#variables-navbar">Navbar</a>
                            </li>
                            <li>
                                <a href="#variables-nav">Nav</a>
                            </li>
                            <li>
                                <a href="#variables-tables">Tables</a>
                            </li>
                            <li>
                                <a href="#variables-forms">Forms</a>
                            </li>
                            <li>
                                <a href="#variables-dropdowns">Dropdowns</a>
                            </li>
                            <li>
                                <a href="#variables-panels-wells">Panels and wells</a>
                            </li>
                            <li>
                                <a href="#variables-accordion">Accordion</a>
                            </li>
                            <li>
                                <a href="#variables-badges">Badges</a>
                            </li>
                            <li>
                                <a href="#variables-breadcrumbs">Breadcrumbs</a>
                            </li>
                            <li>
                                <a href="#variables-jumbotron">Jumbotron</a>
                            </li>
                            <li>
                                <a href="#variables-modals">Modals</a>
                            </li>
                            <li>
                                <a href="#variables-carousel">Carousel</a>
                            </li>
                            <li>
                                <a href="#variables-list-group">List group</a>
                            </li>
                            <li>
                                <a href="#variables-thumbnails">Thumbnails</a>
                            </li>
                            <li>
                                <a href="#variables-progress">Progress bars</a>
                            </li>
                            <li>
                                <a href="#variables-pagination">Pagination</a>
                            </li>
                            <li>
                                <a href="#variables-pager">Pager</a>
                            </li>
                            <li>
                                <a href="#variables-labels">Labels</a>
                            </li>
                            <li>
                                <a href="#variables-tooltips-popovers">Tooltips and popovers</a>
                            </li>
                            <li>
                                <a href="#variables-close">Close button</a>
                            </li>
                            <li>
                                <a href="#variables-type">Type</a>
                            </li>
                            <li>
                                <a href="#variables-other">Other</a>
                            </li>

                        </ul>
                    </li>
					  <!-- template dropdown -->
					<li class="dropdown">
					
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span style="font-size:1.2em" class="label label-default">Template</span> <span id="template-name">Default </span> <b class="caret"></b>                        
						</a>
					
					  <ul id="template-drop-down" class="dropdown-menu">
						<li class="dropdown-header">User Templates</li>
						<li id="user-template-list">
						<!--
							<a stye="padding-top:8px;padding-bottom:8px;" id="compiled" class="user-template" data-link="compiled" href="#"><span>Compiled</span>
							   <div  class="btn-group pull-right" style="display:inline-block;margin:0px;padding:0px" >
									<button style="padding:2px" type="button" class="btn btn-default btn-template-rename" title="Rename template">
										<i class="icon-edit-sign"></i>
									</button>
									 <button style="padding:2px" type="button" class="btn btn-default btn-template-delete" title="Delete template">
										<i class="icon-remove"></i>
									</button>
							   </div>
							</a>
						 -->	
						</li>
						<li class="divider"></li>
						<li class="dropdown-header">External Templates</li>
						<li>
							<a id="default" class="external-template" data-link="default" href="#"><span>Default</span></a>
						</li>
						<li>
							<a id="amelia" class="external-template" data-link="amelia" href="#"><span>Amelia</span></a>
						</li> 
						<li>
							<a id="cerulean" class="external-template" data-link="cerulean" href="#"><span>Cerulean</span></a>
						</li>
						<li>
							<a id="cosmo" class="external-template" data-link="cosmo" href="#"><span>Cosmo</span></a>
						</li>
					 
						<li>
							<a id="cyborg" class="external-template" data-link="cyborg" href="#"><span>Cyborg</span></a>
						</li>
							   
						<li>
							<a id="flatly" class="external-template" data-link="flatly" href="#"><span>Flatly</span></a>
						</li>
							   
						<li>
							<a id="journal" class="external-template" data-link="journal" href="#"><span>Journal</span></a>
						</li>
								
						<li>
							<a id="readable" class="external-template" data-link="readable" href="#"><span>Readable</span></a>
						</li>
								   
						<li>
							<a id="simplex" class="external-template" data-link="simplex" href="#"><span>Simplex</span></a>
						</li>
								
						<li>
							<a id="slate" class="external-template" data-link="slate" href="#"><span>Slate</span></a>
						</li>

						<li>
							<a id="spacelab" class="external-template" data-link="spacelab" href="#"><span>Spacelab</span></a>
						</li>
									 
						<li>
							<a id="united" class="external-template" data-link="united" href="#"><span>United</span></a>										  
						</li>

					  </ul>
					</li>
					<li style="padding-top: 9px;">
						<div class=" btn-group" style="display:inline-block;">                   
						   <button id="btn-template-download" type="button" class="btn btn-default disabled" title="Download template CSS">
								<i class="icon-download-alt">
								</i>
							</button>
							<a id="btn-template-link" type="button" target="_blank" class="btn btn-default" title="View external link">
								<i class="icon-link">
								</i>
							</a>

					  </div> 
				  </li>
  <!-- template dropdown -->
                    <li style="padding-top: 9px;padding-left:2px;">
                        <label class="btn btn-primary btn-sm disabled">
                            <input id="gradients-check" type="checkbox" style="margin:4px">Apply Gradients</label>
                    </li>
					<li><a href="docs.html" onclick="logEvent(['_trackEvent', 'Customizer', 'goto', this.href]);"><i class="icon-fixed-width icon-book"></i> Docs</a></li>
					
				</ul>
<!--               
                <form class="navbar-form navbar-right inline-form">

                    <div class="form-group">
                        <label style="font-size:1em" for="template-selector" class="control-label label">Template</label>

                        <select id="template-selector" style="width:120px" class="form-control input-sm" title="Bootstrap theme selector">
                            <optgroup label="User">
                                <option <option value="compiled">compiled</option>
                            </optgroup>
                            <optgroup label="Bootstrap">
                                <option value="default">default</option>
                            </optgroup>
                            <optgroup label="Bootswatch">
                                <option value="amelia">amelia</option>
                                <option value="cerulean">cerulean</option>
                                <option value="cosmo">cosmo</option>
                                <option value="cyborg">cyborg</option>
                                <option value="flatly">flatly</option>
                                <option value="journal">journal</option>
                                <option value="readable">readable</option>
                                <option value="simplex">simplex</option>
                                <option value="slate">slate</option>
                                <option value="spacelab">spacelab</option>
                                <option value="united">united</option>
                            </optgroup>

                        </select>
                    </div>

                </form>
-->
				{{ content }}
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </div>


    <!--  1
		<div class="container">

       -->

    <div id="content" style="visibility:hidden" class="row theme-edit" style="padding:5px;">
        <div id="colortab" class="col-md-2 visible-md visible-lg affix edit-view">
            {% include colorView.compiled.inc.html %}
        </div>
        <!-- /col-md-2 -->

        <div id="variables" class="col-md-10 col-md-offset-2">
            <div class="container">
                {% include lessVariables.inc.html %}
            </div>
        </div>

        <!-- /col-md-10 -->

    </div>
    <!-- 1
		/row
        </div> /container -->
    <!-- back to top link-->
    <a id="goto-top" href="#" class="btn btn-default" title="Back To Top">
        <i class="icon-chevron-sign-up icon-2">
        </i>
    </a>
    <hr />
    <footer>
        {% include footer.inc.html %}
    </footer>
    <!-- JS and analytics only. -->
    {% include footerjs.inc.html %}
</body>

</html>
