<div class="page-header edit-view">
    <h3>Container sizes</h3>
</div>
<p class="edit-view">Define the maximum width of
    <code>.container</code>for different screen sizes.</p>
<div class="row edit-view">
    <div class="col-xs-6 col-sm-4">
        <label>@container-tablet</label>
        <input type="text" class="form-control" placeholder="728px" data-var="@container-tablet" id="container-tablet" />
        <p class="help-block">For
            <code>@screen-sm</code>and up.</p>
    </div>
    <div class="col-xs-6 col-sm-4">
        <label>@container-desktop</label>
        <input type="text" class="form-control" placeholder="940px" data-var="@container-desktop" id="container-desktop" />
        <p class="help-block">For
            <code>@screen-md</code>and up.</p>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-6 col-sm-4">
        <label>@container-lg-desktop</label>
        <input type="text" class="form-control" placeholder="1170px" data-var="@container-lg-desktop" id="container-lg-desktop" />
        <p class="help-block">For
            <code>@screen-lg</code>and up.</p>
    </div>
</div>
