    <div class="page-header"><h2 id="variables-basics">Basics</h2></div>

	{% include fragments/less/less-variables-body.inc.html %}
	
    {% include fragments/less/less-variables-typography.inc.html %}

    {% include fragments/less/less-variables-code.inc.html %}

    {% include fragments/less/less-variables-headings.inc.html %}
   
    {% include fragments/less/less-variables-colors.inc.html %}

	{% include fragments/less/less-variables-media.inc.html %}

	{% include fragments/less/less-variables-container.inc.html %}

	{% include fragments/less/less-variables-grid.inc.html %}

	{% include fragments/less/less-variables-components.inc.html %}