<div class="page-header edit-view">
    <h3>Grid system</h3>
</div>
<p class="edit-view">Define your custom responsive grid.</p>
<div class="row edit-view">
    <div class="col-xs-6 col-sm-4">
        <label>@grid-gutter-width</label>
        <input type="text" class="form-control" placeholder="30px" data-var="@grid-gutter-width" id="grid-gutter-width" />
        <p class="help-block">Padding between columns.</p>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-6 col-sm-4">
        <label>@grid-float-breakpoint</label>
        <input type="text" class="form-control" placeholder="@screen-sm" data-var="@grid-float-breakpoint" id="grid-float-breakpoint" />
        <p class="help-block">Point at which the navbar stops collapsing.</p>
    </div>
</div>
